/*************************************
        Header Part
**************************************/ 
#header{
	background-image: url('../image/bg_header.png');
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
	height: 550px;
}
#header-logo{
	height: 30px;
    width: 180px;
    padding-left: 30px;
    margin-top: 30px;
}
#menu-bar {
	margin-top: 40px;
}
#menu-bar ul{
	margin-left: 50px;
}
#menu-bar ul li{
	float: left;
	list-style: none;
    padding-left: 20px;
}
#menu-bar ul li a{
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
	font-size: 15px;
    cursor: pointer;
}
a#menu-button {
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, white , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #18c0e2,#5a46fd, #6200ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #18c0e2,#5a46fd, #6200ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #18c0e2,#5a46fd, #6200ff); /* Standard syntax (must be last) */
    padding-right: 20px;
    padding-left: 20px !important;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 50px;
    cursor: pointer;
}
#header-text p{
	text-align: center;
	margin-top: 160px;
	font-size: 45px;
	color: #fff;
	letter-spacing: 5px;
	margin-left: 55px;
}
#header-button{
	text-align: center;
	margin-top: 100px;
}
#header-button-first {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    padding-top: 8px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 8px;
    border-radius: 50px;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: background 2s;
    -moz-transition: background 2s ;
    -o-transition: background 2s ;
     transition: background 2s;
}

#header-button-second {
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #fe2851;
    background-color: #fff;
    padding-top: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 8px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: padding 1s, width 1s, height 1s; /* For Safari 3.1 to 6.0 */
    transition: padding 1s, width 1s, height 1s;
    -webkit-transition: background 2s;
    -moz-transition: background 2s ;
    -o-transition: background 2s ;
     transition: background 2s;
}
/*************************************
        About Part
**************************************/ 
#about-title {
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
    font-weight: 500;
    color: #585353;
    font-family: Ampera;
        }
#about-details{
	text-align: left;
    margin-top: 35px;
    margin-bottom: 100px;
    font-size: 16px;
    color: #b1a8aa;
    line-height: 25px;
}

/*************************************
        Image Slider
**************************************/        

section#image-slider {
    background-color: #f1eaea;
}
.item img {
    height: 450px !important;
    margin-left: 230px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.carousel-indicators{
	color: red !important;
}
.carousel-indicators li {
    display: inline-block;
    width: 35px !important;
    height: 6px !important;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: black !important;
    border: 1px solid red;
    border-radius: 0px !important;
}
.carousel-indicators .active {
    width: 12px;
    height: 6px !important;
    margin: 0;
    background-color: red !important;
}
.carousel-indicators {
    width: 80% !important;
    }
ol.carousel-indicators {
    padding-left: 50% !important;
} 

/*************************************
        Feature Part
**************************************/ 
img#feature-img {
    margin-top: 80px;
    float: right;
    height: 300px;
    padding-right: 120px;
    margin-bottom: 30px;
}
#feature-text-part {
    margin-top: 45px;
    padding-left: 60px;
}
#feature-text {
    font-size: 48px;
    color: #4a4a4a;
    font-family: Ampera;
}
#feature-text2 {
    font-size: 30px;
    margin-top: -15px;
    padding-left: 50px;
    color: #757272;
}
#feature-table tr {
    height: 100px;
}
table#feature-table tr td {
    font-size: 14px;
    padding-bottom: 30px;
    line-height: 25px;
    color: #a9a3a3;
}
i.fa.fa-globe.fa-2x {
    color: #fe2851;
    margin-top: -20px;
    border-radius: 50px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to bottom, #ffffff, #f1f5f8);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: all 2s;
    -moz-transition: all 2s ;
    -o-transition: all 2s ;
     transition: all 2s;
}

i.fa.fa-eye.fa-2x{
    margin-top: -20px;
    border-radius: 50px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
    color: white;
    width: 50px;
    height: 50px;
    background-color: #fe2851;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: all 2s;
    -moz-transition: all 2s ;
    -o-transition: all 2s ;
     transition: all 2s;
}
i.fa.fa-briefcase.fa-2x{
    margin-top: -20px;
    border-radius: 50px;
    margin-right: 20px;
    text-align: center;
    padding-top: 10px;
    color: #fe2851;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to bottom, #ffffff, #f1f5f8);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-transition: all 2s;
    -moz-transition: all 2s ;
    -o-transition: all 2s ;
     transition: all 2s;
}
strong {
    color: #6f6a6a !important;
    font-size: 18px;
}

/*************************************
        Number
**************************************/ 

#number{
	background-image: url('../image/bg_stats.png');
    background-repeat:  no-repeat;
    background-size:  auto;
	height: 183px;
}
div#number-item {
    padding-top: 71px !important;
}
i.fa.fa-cloud-download.fa-2x {
    color: white;
    margin-left: 50%;
}
div#number-item a {
    font-size: 28px;
    font-weight: 700;
    padding-left: 5px;
    color: white;
    text-decoration: none;
    }
div#number-item p {
    padding-left: 65%;
    color: white;
    font-size: 12px;
}

/*************************************
        Work
**************************************/ 

p#work-title {
     margin-top: 50px;
    font-size: 45px;
    font-family: Ampera;
    color: #645d5d;
}
p#work-article {
    font-size: 15px;
    color: #b8b0b0;
    margin-top: 25px;
    line-height: 30px;
}
div#work-button {
    padding-top: 40px;
    padding-bottom: 40px;
}
#work-button-first {
    text-decoration: none;
    background-color: transparent;
    color: #4a4a4a;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 25px;
    font-size: 15px;
    border: solid 1px #4a4a4a;
    margin-right: 20px;
    cursor: pointer;
    -webkit-transition: all 2s;
    -moz-transition: all 2s ;
    -o-transition: all 2s ;
     transition: all 2s;
}
#work-button-second {
    text-decoration: none;
    background-color: red;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left , #ff651c,#ff242e ,#ff003c, #ff003c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ff651c,#ff242e ,#ff003c,#ff003c, #ff003c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ff651c,#ff242e ,#ff003c, #ff003c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ff651c,#ff242e,#ff003c, #ff003c); /* Standard syntax (must be last) */
    -webkit-transition: all 2s;
    -moz-transition: all 2s ;
    -o-transition: all 2s ;
     transition: all 2s;
}
.embed-responsive {
    margin-top: 150px;
    width: 660px;
    height: 460px !important;
}
.videoContainer {
    position: relative;
    margin-top: 50px;
    width: 460;
    height: 353px;
    border-radius: 5px;
    background-attachment: scroll;
    overflow: hidden;
    -webkit-transition: all 1s;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
     transition: all 1s;
}
.videoContainer iframe {
    min-width: 461px;
    min-height: 355px;
    position: relative;
    z-index: 1;
}
.videoContainer .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: -webkit-linear-gradient(left , rgb(215, 146, 19) ,#ff003c, #ff003c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(215, 146, 19),#ff003c,#ff003c, #ff003c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(215, 146, 19),#ff003c, #ff003c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(215, 146, 19),#ff003c,#ff003c, #ff003c); /* Standard syntax (must be last) */
    opacity: 0.8;
}
div#work-part {
    margin-left: 12%;
}


/*************************************
        People Say
**************************************/ 
#people-say {
    margin-top: 100px;
}
p#people-title {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: #333131;
}
img#chatting-img {
    height: 200px;
    margin-top: 60px;
}
#people-comment {
    color: #c1b7b7;
    width: 280px;
    height: auto;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 125px;
    font-size: 14px;
    margin-left: -22%;
    background-color: #ffffff;
    border: solid 1px #ececec;
}
#people-comment1 {
    color: #c1b7b7;
    width: 280px;
    height: auto;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 125px;
    font-size: 14px;
    margin-left: -26%;
    background-color: #ffffff;
    border: solid 1px #ececec;
}
#people-comment-second {
    margin-right: 80px;
    float: right;
    color: #c1b7b7;
    width: 300px;
    height: auto;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 26px;
    font-size: 14px;
    margin-bottom: 60px;
    background-color: #ffffff;
    border: solid 1px #ececec;
}
#people-comment-second1 {
    margin-left: 20px;
    float: left;
    color: #c1b7b7;
    width: 300px;
    height: auto;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 26px;
    font-size: 14px;
    margin-bottom: 60px;
    background-color: #ffffff;
    border: solid 1px #ececec;
    -webkit-transition: all 2s;
    -moz-transition: all 2s ;
    -o-transition: all 2s ;
     transition: all 2s;
}
p#person-name {
    padding-top: 15px;
    font-size: 15px;
    color: rgba(74, 74, 74, 0.7);
    font-family: Helvetica;
    font-weight: 600;
     font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
img#chatting-img {
    height: 100px;
    margin-top: 9px;
    margin-left: -64%;
}
hr.style-eight {
    text-align: center;
    font-size: 35px;
    border-top: 1px solid #e8e2e2;
}
hr.style-eight:after {
    content: "What People Says";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/*************************************
        People Say
**************************************/ 
#footer{
    border-top: 2px solid #ece5e5;
    padding-top: 20px;
    padding-bottom: 5px;
}
#footer-logo {
    height: 25px;
    width: 153px;
    margin-left: 100px;
    margin-bottom: 8px;
}
#footer-bar ul li{
    float: right;
    list-style: none;
}
#footer-bar ul li a{
    color: #aea2a2;
    text-decoration: none;
    padding-left: 25px;
    font-size: 11px;
    font-weight: 600;
}
#copy-right {
    color: gray;
    margin-bottom: 20px;
    margin-left: 102px;
    font-size: 10px;
}
ul#logo {
    float: right;
    margin-top: 15px;
}
ul#logo {
    float: right;
    margin-right: -395px;
    margin-top: 20px;
}
i.fa.fa-facebook-square {
    color: blue;
    font-size: 18px;
}
i.fa.fa-vimeo {
    color: black;
    font-size: 18px;
}
i.fa.fa-twitter {
    color: blue;
    font-size: 18px;
}
i.fa.fa-google-plus {
    color: red;
    font-size: 18px;

}
/*****************************************
               Import Front Family
******************************************/
@font-face {
    font-family: Ampera;
    src: url(Ampera.ttf);
}

/*****************************************
               Media Query
******************************************/
@media only screen and (max-width: 1220px) {
    #menu-bar{
        display: none;
    }
}
@media only screen and (max-width: 1000px) {
.item img {
      margin-left: 0px;
    }
 #number{
    display: none;
 }
 .videoContainer .overlay {
    height: 100%;
    width: 76%;
    }
 .videoContainer iframe {
    min-width: 270px;
    min-height: 460px;
}      
}
@media only screen and (max-width: 600px) {
    #header-text p {
    margin-top: 75px;
    font-size: 28px
    }
    .videoContainer{
        display: none;
    }
    #people-comment {
    margin-top: 10px;
    margin-left: 0%;
    }
    img#chatting-img {
    margin-top: 20px;
    margin-left: 23%;
    }
    #people-comment1 {
    margin-top: 15px;
    margin-left: 4%;
    }
    #people-comment-second {
    margin-right: 60px;
    width: 284px;
    float: inherit;
    }
    #people-comment-second1{
    margin-top: -26px;
    float: inherit;
    }

}
@media only screen and (max-width: 500px) {
    #header-text p {
    margin-top: 75px;
    font-size: 28px
    }
    #header-button-first {
    font-size: 10px;
     }
#header-button-second {
    margin-left: 10px;
    font-size: 9px;
     }
     img#feature-img {
    padding-right: 0px;
    } 
    #work-button-first {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0px;
    font-size: 8px;
}
#work-button-second {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 8px;
    }
    #people-comment{
     width: 100%;
    }
    #people-comment1 {
     width: 100%;
    }
    #people-comment-second {
     width: 100%;
    }
    #people-comment-second1{
     width: 100%;
     margin-left: 0px;
    }
    #footer-logo {
    margin-left: 24px;
    }
    #copy-right {
    margin-left: 30px;
    }
    #footer-bar ul li {
    float: left;
    margin-left: 26px;
    }
    ul#logo {
    float: left;
    margin-right: 0px;
    }
}
@media only screen and (max-width: 380px)
{
#header-text p {
    font-size: 24px;
    margin-left: 3px;
    }
}